//Breakpoints

$screen-xl: 1280px;
$screen-lg: 1024px;
$screen-md: 768px;
$screen-sm: 480px;


//Border radius 

$border-radius: 4px;
$border-radius-round: 50%;

// Colors

$skyblue: #80b5c2;
$teal: #80C2AF;
$banana: #ffde59;
$gold: #CBA984;
$sunset: #F0E5D0;
$retro-hack: #7CDF64;
$transparent: transparent;
$white: #fff;
$charcoal: #27282E;
$ide-gray: #282c34;

//Shadows
$btn-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
$btn-shadow-hover: 0 14px 40px rgba(0, 0, 0, 0.6);


