@use '../../styles/variables' as *;

.row {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.imageCol,
.textCol {
    flex: 1 1 0;
}

.textCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
}

.imageWrapper {
    overflow: hidden;
    //background: #111;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: $border-radius;
}

.imageRound {
    border-radius: $border-radius-round;
}

.heading {
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
}

.body {
    font-size: 0.98rem;
    line-height: 1.6;
    color: #ccc;

    img {
        display: block;
        border-radius: $border-radius !important;
        box-shadow: $btn-shadow;
        overflow: contain;
        margin: 2rem auto;
        height: auto;
        max-width: 100%;

        @media only screen and (max-width: $screen-sm) {
            width: 100%;
        }
    }
}

.ctaWrapper {
    margin-top: 1.25rem;
}

@media only screen and (max-width: $screen-md) {
    .row {
        flex-direction: column !important;
        padding: 2rem 1.25rem;
    }

    .imageCol, 
    .textCol {
        width: 100%;
    }
}